.git
.gitignore
node_modules/
vendor/
storage/logs/
*.log
.env
.dockerignore
Dockerfile
docker-compose*.yml
phpunit.xml
tests/
coverage/
public/hot
public/storage
npm-debug.log
yarn-error.log
.idea
.vscode