name: mini-crm
services:
  project:
    container_name: app
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./:/project
    depends_on:
      - db
  db:
    image: postgres:alpine
    container_name: db
    environment:
      POSTGRES_DB: test
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: alter0zero
    ports:
      - "7101:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data: 