name: mini-crm

services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - app-network

  php:
    container_name: php
    build:
      context: .
      dockerfile: Dockerfile
    # volumes:
    #   - ./:/var/www
    environment:
      - APP_ENV=local
      - APP_DEBUG=true
      - APP_URL=http://localhost:8000
      - APP_KEY=base64:OEPBobvdqVok9Y/2DTu70C2oYiZ4EmncZ1uMOKz+MBI=
      - DB_CONNECTION=pgsql
      - DB_HOST=db
      - DB_PORT=5432
      - DB_DATABASE=test
      - DB_USERNAME=postgres
      - DB_PASSWORD=alter0zero
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  db:
    image: postgres:15-alpine
    container_name: db
    restart: always
    environment:
      POSTGRES_DB: test
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: alter0zero
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  # node:
  #   image: node:22-alpine
  #   container_name: node
  #   working_dir: /var/www
  #   volumes:
  #     - ./:/var/www
  #     - node_modules:/var/www/node_modules
  #   command: sh -c "npm install && npm run dev"
  #   environment:
  #     - HOST=0.0.0.0
  #   ports:
  #     - "5173:5173"
  #   networks:
  #     - app-network

volumes:
  postgres_data:
  node_modules:

networks:
  app-network:
    driver: bridge